<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen">
    <title>Cadastros</title>
</head>

<body>
    <div class="header">
        agenda
        <br><br><br>
        Categorias de cadastro ↓
    </div>

    <div class="services">
        <form action="#" method="post" id="contato">
            <p> Contato: Grupos, amigos, pets ... </p>

            <input name="contato_nome" form="contato" type="text" required="required" placeholder="Nome">
            <input name="contato_intimidade" form="contato" type="text" required="required" placeholder="Intimidade">
            <input name="contato_complemento" form="contato" type="text" placeholder="Complemento">

            <button name="contato_botao" form="contato" type="submit">Cadastrar</button>
        </form>

        <form action="#" method="post" id="localidade">
            <p> Localidade: Aquela viagem dos sonhos, o primeiro encontro ... </p>

            <input name="localidade_cidade" form="localidade" type="text" required="required" placeholder="Cidade">
            <input name="localidade_estado" form="localidade" type="text" required="required" placeholder="Estado">
            <input name="localidade_pais" form="localidade" type="text" required="required" placeholder="País">
            <input name="localidade_continente" form="localidade" type="text" required="required" placeholder="Continente">
            <input name="localidade_complemento" form="localidade" type="text" placeholder="Complemento">

            <button name="localidade_botao" form="localidade" type="submit">Cadastrar</button>
        </form>

        <form action="#" method="post" id="telefone">
            <p> Telefones: O número daquela pessoa ... </p>

            <input name="telefone_regiao" form="telefone" type="text" required="required" placeholder="Região">
            <input name="telefone_ddd" form="telefone" type="number" required="required" placeholder="DDD">
            <input name="telefone_numero" form="telefone" type="number" required="required" placeholder="Número">
            <input name="telefone_complemento" form="telefone" type="text" placeholder="Complemento">

            <button name="telefone_botao" form="telefone" type="submit">Cadastrar</button>
        </form>

        <form action="#" method="post" id="email">
            <p> Email: Aquela oportunidade a um email de distância ... </p>

            <input name="email_endereco" form="email" type="email" required="required" placeholder="Endereço">
            <input name="email_usuario" form="email" type="text" required="required" placeholder="Usuário">
            <input name="email_provedor" form="email" type="text" required="required" placeholder="Provedor">
            <input name="email_complemento" form="email" type="text" placeholder="Complemento">

            <button name="email_botao" form="email" type="submit">Cadastrar</button>
        </form>

        

    </div>
</body>

</html>