body {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.header {
    text-align: center;

}

.container {
    margin-top: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;

    display: grid;
}

.big-button {
    margin: 1rem;

    border-radius: 1rem;

    padding: 2rem;

    background-color: black;

    color: white;
    text-align: center;

    font-size: large;
}

.footer {
    background-color: whitesmoke;

    margin-top: 7.35rem;

    padding-bottom: 5rem;
}

