<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <title>Login | Agenda</title>
</head>

<body>

    <div class="container">
        <div class="header">
            agenda
        </div>


        <form>
            <input type="email" autofocus="autofocus" required="required" placeholder="Email">
            <input type="password" required="required" placeholder="Senha">
            <button>Entrar</button>
        </form>



        <div class="forget-password">
            <a href="/src/layouts/home/home.html">Esqueceu a senha?</a>
        </div>

        

    </div>




</body>

</html>