.header {
    margin: 0.5rem;
    text-align: center;

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.container {
    
    border: 0.1rem;
    border-style: solid;
    border-color: gray;

    
    
    margin-top: 8rem;
    margin-left: 30rem;
    margin-right: 30rem;

    padding-bottom: 2rem;    

    align-items: stretch;
}

.container form {
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;

    display: grid;
    gap: 0.3rem;
}

.container form button {
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    border-radius: 0.5rem;

    border: none;
    
    background-color: lightgray;
    
    color: white;
    font-weight: bold;
    
    
}

.container form input {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}


.forget-password {
    text-align: center;
    color: blue;

    margin-top: 2rem;
    
}