<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <title>Home | agenda</title>
</head>

<body>
    <div class="header">
        Escolha o serviço 
        <br>
    </div>



    <div class="container">
        <div class="card">
            <div class="icon">
                <img src="icon-register.svg" alt="cadastro">
            </div>

            <div class="card-divisor">
                <hr>

            </div>


            <div class="search-button">
                <a href="/src/layouts/registering/register.html"><button>Cadastrar </button></a> <!-- Registration page link-->

            </div>
        </div>

        <hr class="container-pipe">

        <div class="card">
            <div class="icon">
                <img src="icon-search.svg" alt="consulta">


            </div>
            <div class="card-divisor">
                <hr>

            </div>
            <div class="search-button">
               <a href="/src/layouts/querying/query.html"><button>Consultar</button></a> <!-- Queries page Link-->


            </div>
        </div>
    </div>

    <div class="footer">
        

    </div>
</body>

</html>