<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen">
    <title>Consultas | agenda web service</title>
</head>
<body>
    <div class="header">
        agenda
        <br><br>
        O que deseja consultar?
    </div>

    

   <div class="container">
        <div class="card">
            
        </div>

        <!-- x4 -->
    
   </div>





</body>
</html>